*{padding:0;margin:0;transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-o-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;-moz-osx-font-smoothing: grayscale !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

body{width:100%;min-width:720px;font-family: Open Sans;font-size: 1em;font-weight: normal;background: #fdfdfd;color: #333333;line-height: 175%;}
a, avisited{text-decoration: none;color: #333333;}
a:hover{color:#333333}


.page-navigation{display:inline-block;float:left;position:fixed;margin-left:-380px;top:15vh;width:3em;text-align:center;}
.page-navigation a{padding:20% 10%;margin:1px 0px;font-size: 0.8em;clear:both;display:inline-block;width:80%;text-align:center;background:#333333;
				border-radius:0px 3px 3px 0px;-webkit-border-radius:0px 3px 3px 0px;-moz-border-radius:0px 3px 3px 0px;
				-o-border-radius:0px 3px 3px 0px;-ms-border-radius:0px 3px 3px 0px;color:#fdfdfd;cursor:pointer;}
.page-navigation a:hover{padding:30% 20% 30% 45%;}





.page-content{width:100%;display:block;clear:both;}
.page-content h1{font-family:Open Sans;font-size:1.6em;font-weight:normal;padding:15% 20px 30px 20px;}
.page-content p{padding:10px 20px;text-align:justify;}
.page-content span{width:50%;float:left;padding:20px;text-align:justify;display:inline-block;
				-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.page-content b{font-size:1.15em;font-weight:normal;}
.page-content a{cursor:pointer;display:inline-block;text-align:center;width:100px;padding:10px;margin:5px 5px 5px 10px;}
.page-content a:hover{background:#333333;color:#fdfdfd;}




.page-header{width:100%;height:100vh;display:block;clear:both;}
.page-header .page-title{width:100%;text-align:center;display:inline-block;clear:both;}
.page-header .page-title h1{font-family:Oswald;font-size:4.5em;font-weight:normal;padding:20% 20px 30px 20px;}
.page-header .page-title h2{font-family:Open Sans;font-size:1.5em;font-weight:normal;padding:10px 20px;}
.page-header .page-title h3{font-family:Dosis;font-size:1.2em;font-weight:normal;padding:5px 20px;}
.page-header .page-menu{width:100%;text-align:center;display:inline-block;clear:both;padding:50px 0 0 0;}
.page-header .page-menu a{cursor:pointer;display:inline-block;text-align:center;width:100px;padding:10px;margin:5px;}
.page-header .page-menu a:hover{background:#333333;color:#fdfdfd;}




.page-footer{width:100%;display:block;clear:both;}
.page-footer h1{font-family:Open Sans;font-size:1.6em;font-weight:normal;padding:15% 20px 30px 20px;}
.page-footer p{padding:10px 20px;text-align:justify;}
.page-footer a{cursor:pointer;display:inline-block;text-align:center;width:100px;padding:10px;margin:5px 5px 5px 10px;}
.page-footer a:hover{background:#333333;color:#fdfdfd;}
.page-footer span{text-align:right;color:#cccccc;font-family:Dosis;font-size:1.2em;font-weight:normal;
					width:100%;display:inline-block;clear:both;padding:25px 0 0 0;}
.page-footer b{font-size:1.15em;font-weight:normal;}




.two-grid{width:15%;padding:0;margin:0;display:block;float:left;}
.four-grid{width:70%;padding:0;margin:0;display:block;float:left;}


.mobile-visible{display:none;}
.mobile-invisible{display:block;}
.tablet-visible{display:none;}
.tablet-invisible{display:block;}
.page-footer .print-unvisible{display:block;}
.page-footer .print-visible{display:none;}


@media screen and (min-width:1920px){
	.tablet-visible{display:block;}
	.tablet-invisible{display:none;}
	body{font-size:1.1em;}
	.two-grid{width:20%;padding:0;margin:0;display:block;float:left;}
	.four-grid{width:60%;padding:0;margin:0;display:block;float:left;}
}

@media screen and (max-width:1200px){
	.tablet-visible{display:block;}
	.tablet-invisible{display:none;}
	
	.page-content span{width:100%;float:left;padding:20px;text-align:justify;display:inline-block;
					-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.page-header .page-title h1{font-family:Oswald;font-size:3.8em;font-weight:normal;padding:25% 20px 30px 20px;}
	.two-grid{width:10%;padding:0;margin:0;display:block;float:left;}
	.four-grid{width:80%;padding:0;margin:0;display:block;float:left;}
}




@media screen and (max-width:720px){
	.mobile-visible{display:block;}
	.mobile-invisible{display:none;}
	
	.two-grid{width:10%;padding:0;margin:0;display:block;float:left;}
	.four-grid{width:80%;padding:0;margin:0;display:block;float:left;}
}


@media print and (color){
	*{-webkit-print-color-adjust:exact;print-color-adjust:exact;}
}

@media print{
	.tablet-visible{display:block;}
	.tablet-invisible{display:none;}
	.page-footer .print-unvisible{display:none;}
	.page-footer .print-visible{display:block;}
	.page-header .page-menu{display:none;}
	.page-navigation{display:none;}

	body{background: none;color:#000000;font-size:0.9em;}
	a{color:#000000;}

	section, footer{page-break-before: always;}
	.page-header{height:auto;}
	.page-header .page-title h1{font-family:Oswald;font-size:3.4em;font-weight:normal;padding:45% 20px 30px 20px;}
	.page-header .page-title h2{font-family:Open Sans;font-size:1.5em;font-weight:normal;padding:10px 20px 40px 20px;line-height:180%;}

	.page-content{padding:30px 0px;}
	.page-content h1{page-break-after:avoid;}
	.page-content span{width:100%;float:left;padding:20px;text-align:justify;display:inline-block;
				-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
				column:2;}
	.page-content h1{padding:30px 20px 0px 20px;}
	.page-content a{display:inline-block;text-align:left;width:auto;padding:10px;margin:5px 5px 5px 10px;font-size:1.1em;}
	.page-content a i{display:none;}
	.page-content a br{display:none;}
	.page-content a:after{content: ": " attr(href);dircetion:rtl;}

	.page-footer h1{padding:30px 20px 0px 20px;}
	.page-footer a{display:inline-block;text-align:left;width:auto;padding:0px 20px;margin:0px;font-size:1.1em;}
	.page-footer a:after{content: ": " attr(href);dircetion:rtl;}

	.two-grid{width:10%;padding:0;margin:0;display:block;float:left;}
	.four-grid{width:80%;padding:0;margin:0;display:block;float:left;}

	@page{margin:1.5cm 0cm 1.5cm 0cm;}

	.QRCodeBox {
		margin:0px auto;
		width: 120px; height: 120px;
		display:block;
		content: url('https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=http://aliireeza.github.io');
		}
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2), only screen and (-min-resolution:192dpi){
	body{font-size:1.1em;}
}
