*{padding:0;margin:0;
  text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

::selection{background:#ffe40f;color:#222222;}
::-moz-selection{background:#ffe40f;color:#222222;}
::-webkit-selection{background:#ffe40f;color:#222222;}
::-ms-selection{background:#ffe40f;color:#222222;}
::-o-selection{background:#ffe40f;color:#222222;}

body{width:100%;min-width:900px;height:99vh;font-size:1em;font-family:Open Sans;
  font-weight:300;background:#fdfdfd;color:#333333;line-height:175%;direction:ltr;border-top:1vh solid #333333;}
a, avisited{text-decoration:none;color:#333333;
				transition: background 0.4s ease-in-out;-ms-transition: background 0.4s ease-in-out;
				-o-transition: background 0.4s ease-in-out;-moz-transition: background 0.4s ease-in-out;
				-webkit-transition: background 0.4s ease-in-out;transition: color 0.2s ease-in-out;
				-ms-transition: color 0.2s ease-in-out;-o-transition: color 0.2s ease-in-out;
				-moz-transition: color 0.2s ease-in-out;-webkit-transition: color 0.2s ease-in-out;}
a:hover{color:#333333;}


.page-header{height:99vh;text-align:center;}
.page-header hgroup{display:inline-block;height:auto;position:relative;
  top:50%;transform:translateY(-50%);text-align:center;width:100%;}
.page-header hgroup h1{font-family:Dancing Script;font-weight:normal;font-size:3em;padding:10px;}
.page-header hgroup h2{font-family:Open Sans;font-weight:300;font-size:1em;padding:10px;color:#777777;}
.page-header hgroup h3{font-size:0.75em;padding:10px 0px 0px 0px;color:#aaaaaa;}
.page-header hgroup h3 a{color:#eeeeee;cursor:pointer;padding:10px;}
.page-header hgroup h3 a:hover{color:#333333;}


@media screen and (max-height:650px){
.page-header{height:640px;}
.page-sidebar{height:120px;}
.page-footer{height:40px;}
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2), only screen and (-min-resolution:192dpi){
	body{font-size:1.1em;}
}
